{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "auto",
        "useBuiltIns": "usage",
        "debug": false
      }
    ],
    "react-app"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
