@import '../../node_modules/react-treeview/react-treeview.css';

#__better_github_pr {
    margin-top: 21px;
    padding: 10px;
    max-width: 250px;
    overflow: auto;
    height: calc(100vh - 60px);
    background-color: #ffffff;
}

.diff-view {
    padding-left: 250px;
}

/* react-treeview */

.tree-view_item {
    position: relative;
    padding-left: 37px;
    transition: background-color .1s;
}

.tree-view_item:hover {
    background-color: #efefef;
}

.tree-view_arrow {
    transform: translateY(-1px);
    position: absolute;
    left: 0;
    right: 0;
}

.tree-view_arrow:before {
    content: url("data:image/svg+xml;uff8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 125' enable-background='new 0 0 100 100' xml:space='preserve'><polygon stroke='#adadad' fill='#ffffff' stroke-width='6' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='  82.626,50 17.374,87.674 17.374,12.326 82.626,50 17.374,87.674 17.374,12.326 '/></svg>");
    display: inline-block;
    height: 13px;
    width: 13px;
    vertical-align: middle;
    margin-right: 4px;
    transition: transform .2s;
}

.tree-view_arrow:after {
    /*content: url('data:image/svg+xml;uff8,<svg xmlns="http://www.w3.org/2000/svg" class="octicon octicon-file-directory" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>');*/
    content: url("data:image/svg+xml;uff8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 32 40' enableBackground='new 0 0 32 32' xmlSpace='preserve'><path fill='#adadad' d='M29.25,26.75H2.75V8.375h1.124c1.751,0,0.748-3.125,3-3.125c3.215,0,1.912,0,5.126,0  c2.251,0,1.251,3.125,3.001,3.125h14.25V26.75L29.25,26.75z' /></svg>");
    height: 17px;
    width: 17px;
    display: inline-block;
    vertical-align: middle;
}

.tree-view_arrow-collapsed {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}

.tree-view_arrow-collapsed:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.tree-view a {
    margin-left: 23px;
}

.file-header {
    position: sticky;
    top: 60px;
    z-index: 1;
}

/*
file from github:
    <svg xmlns="http://www.w3.org/2000/svg" class="octicon octicon-file" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
 */