body {
    transition: background-color .2s, color .2s;
}

.container {
    margin-top: 50px;
    padding: 0 30px 20px 30px;
    width: 550px;
}

.text-center {
    text-align: center;
}

.label-enabled {
    cursor: pointer;
}

.label-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
